#tt-body-page {
  .inner_index>.index_type_common {
    max-width: 100%;
  }

  .header__link {
    transform: scale(0.85) translateZ(0);
  }

  .header__text {
    color: #333;
    font-size: 36px;

    @include res--tablet {
      font-size: 30px;
    }
  }

  .info_post {
    max-width: $article-max-width;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 40px 2px 25px;
    box-sizing: border-box;
    border-top: solid 4px #313131;
    border-bottom: solid 1px #dadada;

    @include res--tablet {
      padding: 30px 4px 20px;
    }

    .link_category {
      display: block;
      font-size: 16px;
      color: $c-main;
      letter-spacing: -0.15px;

      @include res--mobile {
        font-size: 15px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .link_title {
      display: block;
      margin: 16px 0 8px;
      font-size: 34px;
      font-weight: 700;
      letter-spacing: -0.32px;
      line-height: 1.4;
      color: $c-black;

      @include res--laptop {
        font-size: 30px;
      }

      @include res--tablet {
        font-size: 28px;
      }

      @include res--mobile {
        font-size: 25px;
      }
    }

    .line {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
    }

    .date {
      display: block;
      font-size: 14px;
      letter-spacing: -0.15px;
      color: #7b7b7b;

      @include res--mobile {
        font-size: 13px;
      }
    }

    .author {
      font-size: 14px;
      letter-spacing: -0.15px;
      text-align: right;
      color: #9d9d9d;
      font-style: italic;

      @include res--mobile {
        font-size: 13px;
      }
    }
  }
}

.article_admin {
  // 아티클 상단 어드민 영역
  text-align: right;
  display: block;
  margin: 20px auto 0;
  padding: 0 20px;
  max-width: $article-max-width;

  a {
    display: inline-block;
    font-size: 14px;
    color: #676767;
    border: 1px solid #cdcdcd;
    padding: 2px 7px;
    border-radius: 2px;
    transition: all 0.2s;

    @include res--mobile {
      font-size: 13px;
      padding: 3px 8px;
    }

    &:hover {
      color: $c-black;
      border-color: #676767;
    }

    &:not(:first-child) {
      margin-left: 6px;
    }
  }

  .article_admin_edit {
    color: $c-main;
    border-color: $c-main;
    margin-left: 12px !important;

    &:hover {
      border-color: $c-main;
      background-color: $c-main;
      color: #fff;
    }
  }

  .article_admmin_delete {
    color: #9c9c9c;
    border-color: #d2d2d2;
  }
}

.article_profile {
  // 아티클 하단 프로필 영역
  margin-top: 100px;
  max-width: 650px;
  box-sizing: border-box;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 6px;
  border: solid 1px #e6e6e6;
  background-color: #fcfcfc;

  @include flexbox();
  @include align-items(center);

  @include res--mobile {
    padding: 20px;
  }

  .profile_img {
    width: 82px;
    height: 82px;
    margin-right: 25px;
    @include flex-shrink(0);

    @include res--laptop {
      width: 74px;
      height: 74px;
      margin-right: 20px;
    }

    @include res--mobile {
      width: 60px;
      height: 60px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .profile_contents {
    &>strong {
      display: block;
      margin-bottom: 4px;
      font-size: 20px;
      font-weight: bold;

      @include res--tablet {
        font-size: 18px;
        margin-bottom: 2px;
      }

      @include res--mobile {
        font-size: 17px;
      }
    }

    &>p {
      font-size: 15px;
      color: #403d3d;
      line-height: 1.6;
      word-break: keep-all;

      @include res--tablet {
        font-size: 13px;
        line-height: 1.45;
      }
    }
  }

  & + .container_postbtn {
    margin-top: 0;
  }
}

//공감 버튼 등
.container_postbtn {
  margin-top: 100px;
  padding: 0 !important;
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-wrap(wrap);

  &:after {
    display: none !important;
  }

  .postbtn_ccl {
    display: none !important;
  }

  .postbtn_like {
    float: none !important;
    padding: 0 !important;
    border: 0 !important;
  }

  .btn_subscription {
    margin: 0 !important;
  }

  .ico_like {
    position: relative !important;
    width: 55px !important;
    max-width: 55px !important;
    height: 55px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: solid 1px #b9b9b9 !important;
    background-color: #ffffff !important;
    background-image: none !important;
    border-radius: 50% !important;

    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 55%;
      background-size: 25px;
      transition: opacity 0.3s;
    }

    &:before {
      opacity: 1;
      background-image: icon(heart, "555555", "ffffff");
    }

    &:after {
      opacity: 0;
      background-image: icon(heart, "ff5461", "ff5461");
    }

    &:hover {
      &:before {
        background-image: icon(heart, "101010", "fafafa");
      }
    }
  }

  .btn_post {
    height: 60px !important;

    // &:after {
    //   display: inline-block;
    //   font-size: 15px;
    //   content: "좋아요";
    // }
  }

  //좋아요 숫자
  .btn_post.uoc-icon .txt_like.uoc-count {
    margin-left: 12px !important;
    margin-right: 16px !important;
    font-size: 15px !important;
    height: 55px !important;
    line-height: 58px !important;
    color: #404040 !important;
    text-align: left !important;
  }

  .btn_post .uoc-icon.like_on .txt_like.uoc-count {
    display: inline-block !important;
    // font-size: 15px !important;
    // margin-right: 12px !important;

    &:after {
      display: none !important;
    }
  }

  //좋아요 누른 경우
  .like_on .ico_like {
    &:before {
      opacity: 0;
    }

    &:after {
      opacity: 1;
    }
  }

  .wrap_btn {
    height: 60px !important;
    line-height: 60px !important;

    &>button {
      display: inline-block !important;
    }
  }

  .wrap_btn_share,
  .wrap_btn_share+.wrap_btn,
  .wrap_btn_etc {
    // margin: 14px 0 0 !important;
  }
}

//구독하기 버튼
.container_postbtn .postbtn_like+.btn_menu_toolbar {
  border-radius: 4px !important;
  // border-color: #b9b9b9 !important;
  width: auto !important;
  padding: 1px 10px !important;
  margin: 0 !important;
  color: $c-main !important;
  border-color: $c-main !important;

  &:hover {
    background-color: $c-main !important;
    color: #fff !important;
  }

  @include res--mobile {
    padding: 0 9px !important;
    opacity: 0.8;

    .txt_state {
      font-size: 12px !important;
    }
  }

  .txt_state:before {
    display: inline-block;
    margin-right: 4px;
    content: "블로그";
  }

  &.following {
    color: #999 !important;
    border-color: #aaa !important;

    .txt_state:before {
      display: none;
    }

    .txt_state:after {
      display: inline-block;
      content: "!";
      margin-right: 2px;
    }

    @include res--mobile {
      opacity: 1;
    }
  }
}

//태그영역
.area_tag {
  max-width: $article-max-width;
  margin: 0 auto 21px;
  padding: 0 20px;

  @include res--desktop {}

  a {
    display: inline-block;
    padding: 3px 20px;
    border-radius: 88px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.17px;
    text-align: left;
    color: #7b7b7b;
    margin-right: 16px;
    margin-bottom: 9px;
    transition: color 0.2s, border 0.2s;

    &:hover {
      color: $c-main;
      border-color: $c-main;
    }

    @include res--mobile {
      font-size: 13px;
      border-color: #cfcfcf;
      margin-right: 11px;
      margin-bottom: 7px;
    }
  }
}

//관련글영역

.related_type {
  padding: 40px 0;
  margin-bottom: 20px;
  background-color: #fafafa;

  @include res--desktop {
    padding: 40px 20px;
  }

  .title_related {
    display: block;
    max-width: $article-max-width;
    margin: 0 auto 30px;
    display: block;
    margin-bottom: 21px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.18px;
    text-align: left;
    color: #1d1b1b;

    @include res--mobile {
      font-size: 17px;
    }
  }

  .list_related {
    max-width: $article-max-width;
    margin: 0 auto 0px;
    @include flexbox();

    @include res--laptop {
      flex-wrap: wrap;
    }
  }

  .item_related {
    width: 25%;
    margin-left: 30px;

    @include res--laptop {
      width: calc(50% - 20px);
      margin-bottom: 20px;
    }

    @include res--mobile {
      width: 100%;
      margin-left: 0;
      margin-bottom: 40px;
    }

    &:nth-child(odd) {
      @include res--laptop {
        margin-left: 0;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      @include res--mobile {
        margin-bottom: 0;
      }
    }
  }

  .link_related {
    display: block;

    strong {
      display: block;
      margin: 18px 0 2px;
      font-size: 16px;
      color: #2c2828;
      font-weight: 700;
      @include ellipsis(2);
    }

    .info {
      display: block;
      font-size: 13px;
      letter-spacing: -0.13px;
      color: #969696;

      @include res--mobile {
        font-size: 12px;
      }
    }

    &:hover {
      .box_content strong {
        text-decoration: underline;
      }
    }
  }

  .thumbnail {
    display: block;
    width: 100%;
    padding-top: 50%;
    background: url(images/bg_empty.png) no-repeat;
    background-size: cover !important;
    background-position: 50% 50% !important;
  }
}

//////// * 본문 영역
.article_view {
  margin: 90px auto 30px;
  max-width: $article-max-width;
  padding: 0 0 38px 0;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.002em;
  border-bottom: solid 1px #e6e6e6;
  box-sizing: border-box;

  @include res--desktop {
    padding: 0 20px 38px;
  }

  @include res--mobile {
    padding-bottom: 30px;
    font-size: 16px;
  }

  p {
    line-height: 1.76;
  }

  a {
    color: $c-main;
    text-decoration: underline;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $c-black;
    margin-bottom: 20px;
  }

  h1,
  h2 {
    font-size: 28px;
    font-weight: 700 !important;
  }

  h3 {
    font-size: 24px;
  }

  h4,
  h5,
  h6 {
    font-size: 20px;
  }

  // ul[data-ke-list-type='disc'],
  // #tt-body-page ul[data-ke-list-type='disc'] {
  //   padding-left: 20px;
  // }

  // ol[data-ke-list-type='decimal'],
  // #tt-body-page ul[data-ke-list-type='decimal'] {
  //   list-style-type: none !important;
  //   padding-left: 20px;
  // }

  // ul[data-ke-list-type='circle'],
  // #tt-body-page ul[data-ke-list-type='circle'] {
  //   list-style-type: circle;
  //   padding-left: 20px;
  // }

  // ul[data-ke-list-type='disc'] li,
  // #tt-body-page ul[data-ke-list-type='disc'] li,
  // ul[data-ke-list-type='decimal'] li,
  // #tt-body-page ul[data-ke-list-type='decimal'] li,
  // ul[data-ke-list-type='circle'] li,
  // #tt-body-page ul[data-ke-list-type='circle'] li {
  //   margin: 4px 0;
  // }

  ul[data-ke-list-type],
  ol[data-ke-list-type] {
    padding-left: 18px;
  }

  [data-ke-list-type] li {
    position: relative;
    list-style: none !important;
    margin: 5px 0;

    &:before {
      position: absolute;
      top: 11px;
      left: -13px;
      width: 3px;
      height: 3px;
      background-color: #1d1b1b;
      border: 1px solid #1d1b1b;
      border-radius: 50%;
      display: inline-block;
      content: '';
      vertical-align: middle;
    }
  }

  [data-ke-list-type='circle'] li {
    &:before {
      background-color: #fff;
    }
  }


  p code {
    background: #fff2c3;
    padding: 2px 4px;
    margin-right: 4px;
    font-family: "Source Code Pro", monospace !important;
    border: 1px solid #dcd7ca;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 90%;
  }

  figcaption {
    color: #9d9d9d;
  }

  blockquote {
    margin: 16px 0 !important;
    border-left: 3px solid $c-black;
    padding-left: 18px;
    color: $c-black;
    font-size: 1.15em !important;
  }
}



#tt-body-page blockquote[data-ke-style='style3'],
blockquote.callout {
  position: relative;
  margin: 16px 0;
  padding: 25px 25px 25px 62px;
  border-radius: 4px;
  background-color: #f4f4f4;
  color: $c-black;
  font-size: 1em !important;
  line-height: 1.65;
  border: 0;

  &:before {
    position: absolute;
    top: 22px;
    left: 23px;
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(./images/ico_callout.png);
    background-size: 100%;
  }
}


// 더보기 처리
div[data-ke-type="moreLess"] {
  margin: 8px 0;
}

.btn-toggle-moreless {
  color: $c-black !important;

  &:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 8px;
    transform: scale(0.9);
    transition: transform 200ms;
    border-style: solid;
    border-width: 6px 0 6px 10px;
    border-color: transparent transparent transparent $c-black;
    content: '';
  }

  .open &:before {
    transform: scale(0.9) rotate(90deg);
  }

  &:hover {
    opacity: 1 !important;
    color: $c-main !important;
  }

  &:hover:before {
    border-color: transparent transparent transparent $c-main;
  }
}

.moreless-content {
  margin: 10px 0px 20px;
  padding: 10px 17px;
  border: 1px dashed #c9c9c9;
  color: #585858;
}

#tt-body-page h2[data-ke-size],
#tt-body-page h3[data-ke-size],
#tt-body-page h4[data-ke-size] {
  font-weight: 500;
}
