.btn-search {
  position: relative;
  // position: absolute;
  // right: 20px;
  // visibility: visible;
  // opacity: 1;
  width: 36px;
  height: 36px;
  background-size: 20px;
  background-image: icon(search, "4b4b4b");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.2s;
  // transition-delay: 200ms;

  &:hover {
    opacity: 0.7;
  }
}

.btn-link {
  //포트폴리오 버튼
  display: block;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid $c-main;
  border-radius: 80px;
  transition: color 0.2s, background-color 0.2s;

  &:link,
  &:visited {
    color: $c-main;
  }

  &:hover {
    color: #fff;
    background-color: $c-main;
  }
}
