.header {
  margin-bottom: 70px;

  &__logo {
    margin-top: 70px;
    text-align: center;
  }

  &__text {
    font-size: 38px;
    font-weight: bold;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $c-black;

    img {
      display: block;
      width: 216px;
      height: 50px;
    }
  }

  &__info {
    font-size: 14px;
    color: $c-gray;
    font-weight: 400;
    letter-spacing: -0.14px;
  }
}

.nav {
  height: 70px;
  border-bottom: 1px solid #e2e2e2;

  &__container {
    max-width: $max-width;
    margin: 0 auto;
    height: inherit;
    padding: 0 $padding;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
  }

  &__gnb {
    @include flexbox();
    @include align-items(center);

    .nav__gnb-home {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s;

      &:hover {
        color: $c-main;
      }
    }

    // * 기본 스타일 덮어씌우기
    .link_tit,
    .sub_category_list,
    .c_cnt {
      display: none;
    }

    .tt_category .category_list {
      @include flexbox();
    }

    .category_list > li > .link_item {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s;

      &:hover {
        color: $c-main;
      }
    }
  }

  &__utils {
    @include flexbox();
    @include align-items(center);

    .btn-link {
      margin-left: 12px;
    }
  }
}

//검색영역
.area_search {
  position: relative;
  width: 220px;
  height: 31px;
  margin-right: 4px;

  &:before {
    position: absolute;
    top: 9px;
    left: -28px;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: icon(search, "7b7b7b");
    background-repeat: no-repeat;
  }

  .inp_search {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
    transform: translateY(-50%);
    padding: 9px 0px;
    border-bottom: 1px solid #828282;
    background-color: #fff;
    transition: border 0.2s;

    &:focus {
      border-color: #4b4b4b;
    }

    @include placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px;
    }
  }

  .btn_search_del {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 31px;

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 13px;
      background-color: rgb(191, 191, 191);
      transition: background 0.2s;
    }

    &:before {
      top: 8px;
      left: 11px;
      transform: rotate(-42deg);
    }

    &:after {
      top: 8px;
      right: 12px;
      transform: rotate(42deg);
    }

    &:hover {
      &:before,
      &:after {
        background-color: rgb(155, 155, 155);
      }
    }
  }
}

.search_on {
  .btn_search {
    display: none;
  }
}
