.header {
  margin-bottom: 70px;

  &__logo {
    margin-top: 70px;
    text-align: center;
  }

  &__text {
    display: block;
    font-size: 42px;
    font-weight: bold;

    &:hover {
      opacity: 0.7;
    }

    @include res--mobile {
      font-size: 36px;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $c-black;

    @include res--mobile {
      transform: scale(0.9);
    }

    img {
      display: block;
      width: auto;
      max-width: 500px;
    }
  }

  &__info {
    font-size: 14px;
    color: $c-gray;
    font-weight: 400;
    letter-spacing: -0.14px;
    padding: 0 20px;

    @include res--mobile {
      font-size: 12px;
      word-break: keep-all;
    }
  }
}

.nav {
  height: 70px;
  border-bottom: 1px solid #e2e2e2;

  &__container {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    height: inherit;
    padding: 0 20px;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);

    @include res--laptop {
      @include justify-content(flex-end);
    }
  }

  &__gnb {
    overflow: auto;
    margin-left: 70px;
    @include flexbox();
    @include align-items(center);

    @include res--laptop {
      display: none;
    }

    .nav__gnb-home {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s;

      &:hover {
        color: $c-main;
      }
    }

    // * 기본 스타일 덮어씌우기
    .link_tit,
    .sub_category_list,
    .c_cnt {
      display: none;
    }

    .tt_category .category_list {
      @include flexbox();
    }

    .category_list>li>.link_item {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s;

      &:hover {
        color: $c-main;
      }
    }
  }

  &__menu {
    // display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(0);
    left: 5px;

    // @include res--laptop {
    //   display: block;
    // }

    .btn_menu {
      width: 50px;
      height: 50px;
      background-image: url(images/ico_menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__utils {
    padding-left: 30px;
    @include flexbox();
    @include align-items(center);

    .btn-link {
      margin-left: 12px;
    }
  }
}

//검색영역
.area_search {
  // visibility: hidden;
  // opacity: 0;
  display: none;
  position: relative;
  width: 220px;
  height: 31px;
  margin-right: 4px;
  transition: opacity 0.2s, visibility 0.2s;
  // transition-delay: 0ms;

  @include res--tablet {
    position: absolute;
    top: 100%;
    right: 0px;
    width: 100%;
    height: 75px;
    margin: 0px;
    padding: 10px 20px 0;
    box-sizing: border-box;
  }

  &:before {
    position: absolute;
    top: 9px;
    left: -28px;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: icon(search, "7b7b7b");
    background-repeat: no-repeat;

    @include res--tablet {
      z-index: 1;
      top: 21px;
      left: 34px;
      background-size: 16px;
    }
  }

  .inp_search {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
    transform: translateY(-50%);
    padding: 9px 0px;
    border-bottom: 1px solid #828282;
    background-color: #fff;
    transition: border 0.2s;

    @include res--tablet {
      position: relative;
      top: 0;
      transform: none;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      padding: 9px 40px;
      box-sizing: border-box;
      font-size: 15px;
    }

    &:focus {
      border-color: #4b4b4b;
    }

    @include placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px;
    }
  }

  .btn_search_del {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    transform: scale(0.8);

    @include res--tablet {
      top: 14px;
      right: 28px;
      transform: scale(0.9);
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 17px;
      background-color: rgb(191, 191, 191);
      transition: background 0.2s;
    }

    &:before {
      top: 6px;
      left: 15px;
      transform: rotate(-42deg);
    }

    &:after {
      top: 6px;
      right: 13px;
      transform: rotate(42deg);
    }

    &:hover {

      &:before,
      &:after {
        background-color: rgb(155, 155, 155);
      }
    }
  }
}

.search_on {
  .btn-search {
    // visibility: hidden;
    // opacity: 0;
    // transition-delay: 0ms;
    display: none;
  }

  .area_search {
    // position: relative;
    // visibility: visible;
    // opacity: 1;
    // max-width: 100%;
    // transition-delay: 200ms !important;
    display: block;
  }
}

.area_menu {
  display: none;
  position: relative;

  &_inner {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 80vw;
    min-width: 280px;
    max-width: 500px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    padding: 0 40px;
  }

  .dimmed_sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 21;
  }

  .sidebar_header {
    padding: 80px 0 15px;
    border-bottom: 1px solid #bdbdbd;

    .link_logo {
      font-size: 22px;
    }

    .btn_close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      height: 40px;
      background: white;
      background-image: url(images/ico_close.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 38%;
      opacity: 0.6;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .menu_navigation {
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    margin-top: 50px;

    a:hover {
      text-decoration: underline;
    }

    .area_menu_nav-home {
      display: block;
      font-size: 17px;
      font-weight: bold;
      color: #333;
      letter-spacing: -0.16px;
    }

    .category_list {
      &>li>.link_item {
        display: block;
        margin-top: 30px;
        font-size: 17px;
        font-weight: bold;
        color: #333;
        letter-spacing: -0.16px;
      }

      .link_sub_item {
        display: block;
        margin-top: 12px;
        margin-left: 14px;
        font-size: 15px;
        color: #525252;
      }
    }
  }
}

.menu_on .area_menu {
  display: block;
}
