.index_type_common {
  max-width: $max-width;
  margin: 0 auto;

  @include res--desktop {
    // max-width: 100%;
    // background: red;
    padding: 0 20px;
    box-sizing: border-box;
  }
}

.title_category {
  // 큼직한 카테고리
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: #1d1b1b;

  @include res--mobile {
    font-size: 21px;
  }
}

.logSkin-list ul {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 70px 85px;

  @include res--desktop {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 60px 60px;
  }

  @include res--laptop {
    grid-gap: 50px;
  }
  @include res--mobile {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 30px;
  }

  li {
    box-sizing: border-box;
    border: solid 1px #d9d9d9;
    transition: border-color 0.2s;

    &:hover {
      border-color: #bebebe;
    }
  }

  .logSkin-list-link {
    &:hover {
      cursor: pointer;
      border-color: #bebebe;
      .thumbnail_post {
        opacity: 0.9;
      }
      .txt_post {
        text-decoration: underline;
      }
    }
  }
  .thumbnail_post {
    height: 210px;
    display: block;
    background: url(images/bg_empty.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: opacity 0.2s;
    @include res--mobile {
      height: 170px;
    }
  }

  .info_zone {
    padding: 25px;
    box-sizing: border-box;

    @include res--mobile {
      padding: 20px;
    }
  }

  .category_post {
    font-size: 13px;
    color: $c-main;
    margin-bottom: 12px;
  }

  .title_post {
    display: block;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.14px;
    @include ellipsis();
  }

  .txt_post {
    margin-top: 8px;
    margin-bottom: 50px;
    font-size: 15px;
    color: #4b4b4b;
    min-height: 69px;
    line-height: 1.55;
    @include ellipsis(3);
    letter-spacing: -0.14px;

    @include res--mobile {
      margin-top: 6px;
      margin-bottom: 30px;
    }
  }

  .date_post {
    font-size: 13px;
    color: #969696;
  }

  .logSkin-list-link {
    display: block;
  }
}

// 인기글 영역
.logSkin-hot {
  margin-top: 130px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-gap: 40px;

    @include res--desktop {
      max-width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-gap: 30px;
    }
    @include res--mobile {
      grid-template-columns: repeat(auto-fill, 100%);
    }

    li {
      .title_post {
        display: block;
        font-weight: bold;
        font-size: 18px;
        margin-top: 12px;
        margin-bottom: 1px;
        letter-spacing: -0.14px;
      }
      .date_post {
        font-size: 13px;
        color: #969696;
      }
      &:hover {
        .thumbnail_post {
          opacity: 0.9;
        }
        .title_post {
          text-decoration: underline;
        }
      }
    }
  }
  .thumbnail_post {
    height: 270px;
    display: block;
    background: url(images/bg_empty.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: opacity 0.2s;

    @include res--mobile {
      height: 210px;
    }
  }
}

.area_menu {
  display: none;
}

.logSkin-showAll {
  // 전체 글 보기
  margin-top: 110px;
  padding: 60px 0;
  text-align: center;
  background-color: #f7f7f7;
  letter-spacing: -0.2px;
  @include res--laptop {
    margin-top: 80px;
  }
  @include res--mobile {
    margin-top: 60px;
    padding: 40px 0;
  }

  & > a {
    font-size: 18px;
    font-weight: bold;
    padding-right: 21px;

    background-image: icon(arrow-right, "4b4b4b");
    background-repeat: no-repeat;
    background-position: 100% 49%;
    background-size: 14px 14px;
    @include res--mobile {
      font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.another_category {
  //카테고리 내 다른 글 보여주기
  display: none;
}

// 홈 화면일 때만 최신 글 다르게 표시

#tt-body-index {
  .logSkin-new {
    & > li:first-child {
      position: relative;
      grid-column-start: 1;
      grid-column-end: 4;
      padding: 40px 40px;
      border: 0;
      background: #f2f2f2;
      @include res--desktop {
        grid-column-end: 1;
        padding: 20px;
      }
      @include res--laptop {
        padding: 20px;
      }
      @include res--mobile {
      }

      &:hover {
        border: 0;
      }

      .thumbnail_post {
        width: 350px;
        height: 230px;
        @include res--desktop {
          width: calc(100% - 25px);
          height: 200px;
          margin: 0 auto;
        }
      }

      .thumbnail_zone {
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include res--desktop {
          z-index: 1;
          width: 100%;
          position: relative;
          top: 0;
          transform: none;
        }
      }

      .info_zone {
        position: relative;
        width: 80%;
        margin-left: auto;
        padding: 54px 40px 54px 160px;
        background-color: #fff;
        @include res--desktop {
          width: 100%;
          padding: 20px;

          // &:before {
          //   position: absolute;
          //   top: -40px;
          //   left: 0;
          //   width: 100%;
          //   height: 40px;
          //   background-color: #fff;
          //   content: "";
          // }
        }

        .category_post {
          margin-bottom: 25px;
        }

        .txt_post {
          margin-top: 4px;
          margin-bottom: 45px;
          line-height: 1.45;
          letter-spacing: -0.15px;
          min-height: 42px;
        }
      }
    }
  }
}

#tt-body-search,
#tt-body-category,
#tt-body-archive,
#tt-body-tag {
  .index_type_horizontal {
    .list_horizontal_item {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 25px 0;
      border-bottom: solid 1px #efefef;

      @include res--mobile {
        padding: 20px 0;
      }
    }

    .article_content {
      @include flexbox();
    }

    .link_article {
      display: block;
      &:hover {
        .thumbnail_post {
          opacity: 0.9;
        }
        .txt_post {
          text-decoration: underline;
        }
      }
    }

    .thumbnail_zone {
      flex-shrink: 0;
      @include res--laptop {
        width: 30%;
      }
    }

    .thumbnail_post {
      display: block;
      width: 350px;
      height: 220px;
      background: url(images/bg_empty.jpg) no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      transition: opacity 0.2s;
      @include res--laptop {
        width: 100%;
        height: 200px;
      }
      @include res--mobile {
        height: 140px;
      }
    }

    .info_zone {
      padding: 20px 20px 20px 40px;
      @include res--laptop {
        padding-left: 30px;
      }
      @include res--mobile {
        padding: 3px 0 0 15px;
      }
    }

    .category {
      font-size: 13px;
      color: $c-main;
      @include res--mobile {
        font-size: 12px;
      }
    }

    .title_post {
      display: block;
      margin-top: 20px;
      margin-bottom: 6px;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -0.14px;
      @include res--laptop {
        margin-top: 18px;
        font-size: 18px;
      }
      @include res--mobile {
        font-size: 16px;
        margin-top: 8px;
      }
    }
    .txt_post {
      margin-bottom: 40px;
      line-height: 1.45;
      letter-spacing: -0.15px;
      min-height: 42px;
      font-size: 14px;
      color: #4b4b4b;
      @include ellipsis(2);
      @include res--laptop {
        margin-bottom: 30px;
      }
      @include res--mobile {
        font-size: 13px;
        margin-bottom: 20px;
        min-height: 39px;
      }
    }
    .date {
      font-size: 13px;
      color: #969696;
      @include res--mobile {
        font-size: 12px;
      }
    }
  }
}

//보호글인 경우

.protected-list {
  &:hover {
    .txt_post {
      text-decoration: underline;
    }
  }
  .title {
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.14px;
    @include res--laptop {
      margin-top: 18px;
      font-size: 18px;
    }
    @include res--mobile {
      font-size: 16px;
      margin-top: 8px;
    }
  }

  .txt_post {
    font-style: italic;
  }

  .category-protected {
    color: #ff567a;
  }
}

.logSkin-list-normal {
  padding: 0;
}
