//댓글영역
.area_reply {
  margin-top: 48px;
  padding: 0 20px;

  input,
  textarea {
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", "Nanum Gothic", Dotum, "돋움",
      Helvetica, sans-serif;
  }

  .box_reply_info {
    max-width: $max-width;
    margin: 0 auto;

    .item_info {
      display: block;
      margin-bottom: 21px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: -0.18px;
      text-align: left;
      color: #1d1b1b;

      @include res--mobile {
        font-size: 17px;
      }

      .count {
        font-weight: 400;
      }
    }
  }

  .box_comment_list {
    max-width: $max-width;
    margin: 0 auto;
    padding: 0;
  }

  .list_reply:first-child {
    border-top: solid 1px #e6e6e6;
    padding-top: 35px;
  }

  .list_reply:last-child {
    margin-bottom: 54px;
  }

  .item_reply {
    margin-top: 54px;

    &:first-child {
      margin-top: 0;
    }

    .thumbnail_reply {
      width: 48px;
      height: 48px;
      margin-right: 20px;

      img {
        display: block;
        border-radius: 50%;
      }
    }
  }

  .box_reply_content {
    .reply-info-top {
      @include flexbox();
      @include align-items(center);
    }

    .user {
      display: block;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: -0.15px;
      text-align: left;
      color: #2c2828;
      @include ellipsis();

      a {
        vertical-align: middle;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    .date {
      position: relative;
      top: 2px;
      display: block;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: -0.14px;
      text-align: left;
      color: #9d9d9d;
      margin-left: 10px;

      a {
        opacity: 0.7;
        margin-left: 4px;
        font-size: 11px;
      }
    }

    .txt {
      display: block;
      margin-top: 8px;
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: -0.15px;
      text-align: left;
      color: #4b4b4b;
    }

    .modify {
      margin-top: 8px;

      a {
        margin-right: 16px;
        font-size: 13px;
        letter-spacing: -0.13px;
        text-align: left;
        color: #b9b9b9;

        &:hover {
          color: #989898;
        }
      }
    }
  }

  .reply-line {
    @include flexbox();
  }

  //답글의 경우
  .list_reply_comment {
    margin-left: 90px;

    .item_comment.reply {
      position: relative;
      margin-top: 20px;
      @include flexbox();
      @include align-items(flex-start);

      &:before {
        position: absolute;
        top: 0;
        left: -20px;
        display: block;
        content: "";
        width: 1px;
        height: 14px;
        background: #b9b9b9;
        transform: rotate(-40deg);
      }
    }

    .ico_commnent {
      display: none;
    }
  }
}

//댓글작성영역
.reply-form-container {
  padding: 0px 0 53px;
  // background-color: #f3f3f3;
  box-sizing: border-box;
}

//댓글 분기
.rp_admin {
  // 관리자가 작성한 덧글

  &>.reply-line .user:after {
    display: inline-block;
    font-size: 11px;
    color: $c-main;
    content: '블로그 주인';
    border: 1px solid $c-main;
    padding: 2px 6px;
    border-radius: 20px;
    transform: scale(0.94);
    transform-origin: 100% -100%;
  }
}

.hiddenComment {
  &>.box_reply_content {
    .txt {
      color: #7d7d7d;

      &:before {
        display: inline-block;
        content: '(';
      }

      &:after {
        display: inline-block;
        content: ')';
      }
    }

    .date {
      margin-left: 0;
    }
  }
}

.reply_write {
  max-width: $max-width;
  margin: 0 auto;

  //이름 및 비밀번호
  .form_guest {
    @include flexbox();
    @include align-items(center);
    margin-bottom: 10px;

    @include res--mobile {
      .box_inp {
        width: 40%;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  .inp_comment {
    font-size: 15px;
    padding: 10px 14px;
    width: 270px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;
    letter-spacing: -0.14px;
    transition: border 0.2s;
    outline: 0;
    box-sizing: border-box;
    border-radius: 4px;

    @include res--tablet {
      width: 200px;
    }

    @include res--mobile {
      width: 100%;
      font-size: 14px;
      padding: 8px 12px;
    }

    &:focus {
      border-color: #9d9d9d;
    }

    @include placeholder {
      color: #b9b9b9;
      letter-spacing: -0.16px;
    }

    &.inp_name {
      margin-right: 10px;
    }
  }

  //댓글 영역
  .reply-form-textarea {
    font-size: 15px;
    padding: 14px;
    width: 100%;
    height: 130px;
    resize: none;
    border-radius: 4px;
    border: solid 1px #d1d1d1;
    background-color: #ffffff;
    letter-spacing: -0.14px;
    line-height: 1.45;
    transition: border 0.2s;
    outline: 0;
    box-sizing: border-box;
    border-radius: 4px;

    @include res--mobile {
      font-size: 14px;
      padding: 12px;
    }

    &:focus {
      border-color: #9d9d9d;
    }

    @include placeholder {
      color: #b9b9b9;
      letter-spacing: -0.16px;
    }
  }
}

.form_reg {
  margin-top: 14px;
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(center);

  label {
    cursor: pointer;
  }

  span {
    font-size: 15px;
    color: #676767;
    letter-spacing: -0.16px;

    @include res--mobile {
      font-size: 14px;
    }

    &:before {
      display: inline-block;
      vertical-align: sub;
      width: 17px;
      height: 17px;
      margin-right: 6px;
      border-radius: 2px;
      border: solid 1px #c4c4c4;
      background-color: #f5f5f5;
      content: "";
      background-image: icon(check, "cecece");
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @include res--mobile {
        width: 15px;
        height: 15px;
        background-size: 11px;
      }
    }
  }

  input[type="checkbox"] {
    @include invisible;

    &:hover+span {
      color: $c-black;

      &:before {
        border-color: #9d9d9d;
      }
    }

    &:checked+span {
      color: $c-black;

      &:before {
        border-color: #9d9d9d;
        background-image: icon(check, "2c2828");
      }
    }
  }

  .btn_register {
    position: relative;
    padding: 8px 14px;
    color: #fff;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    background-color: $c-main;
    box-sizing: border-box;
    letter-spacing: -0.16px;

    @include res--mobile {
      font-size: 14px;
      margin-left: 15px;
    }

    &:before {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: rgba(52, 52, 52, 0.5);
      content: '';
    }

    &:hover:before {
      mix-blend-mode: overlay;
      display: block;
    }
  }
}

.go-to-top {
  max-width: $max-width;
  margin: 0px auto 15px;
  padding: 0 20px;

  a {
    cursor: pointer;
    font-size: 15px;
    letter-spacing: -0.16px;
    color: #9d9d9d;
    padding-left: 20px;
    background-image: icon(go-to-top, "9d9d9d");
    background-size: 14px 13px;
    background-position: 0px 5px;
    background-repeat: no-repeat;

    &:hover {
      color: #2c2828;
      background-image: icon(go-to-top, "2c2828");
    }
  }
}