html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
small,
article,
footer,
header,
nav,
address,
section,
ol,
ul,
li,
strong {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  font-style: normal; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

ul,
ol,
li,
dl {
  list-style: none; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; }

a:hover,
a:active {
  outline: 0; }

a:focus {
  opacity: 1;
  outline: 0; }

a,
button {
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(255, 249, 86, 0.2); }

button {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background: none;
  cursor: pointer; }
  button:focus {
    outline: 0; }

i {
  font-style: normal; }

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

html {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; }

body {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

.wrap {
  position: relative; }

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px; }

.btn-search {
  width: 36px;
  height: 36px;
  background-size: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 20" xml:space="preserve"><g transform="translate(-1160.543 -67.822)"><circle cx="1168.5" cy="75.39" r="7.5" fill="none"/><circle cx="1168.5" cy="75.39" r="6.58" fill="none" stroke="%234b4b4b" stroke-width="1.8" /><path fill="none" stroke="%234b4b4b" stroke-width="1.8" d="M1172.5 80.39l6 6"/></g></svg>');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: opacity 0.2s; }
  .btn-search:hover {
    opacity: 0.7; }

.btn-link {
  display: block;
  padding: 4px 14px;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #3e87f8;
  border-radius: 80px;
  transition: color 0.2s, background-color 0.2s; }
  .btn-link:link, .btn-link:visited {
    color: #3e87f8; }
  .btn-link:hover {
    color: #fff;
    background-color: #3e87f8; }

.header {
  margin-bottom: 70px; }
  .header__logo {
    margin-top: 70px;
    text-align: center; }
  .header__text {
    font-size: 38px;
    font-weight: bold;
    transition: opacity 0.2s; }
    .header__text:hover {
      opacity: 0.7; }
  .header__link {
    display: inline-block;
    text-decoration: none;
    color: #2c2828; }
    .header__link img {
      display: block;
      width: 216px;
      height: 50px; }
  .header__info {
    font-size: 14px;
    color: #4b4b4b;
    font-weight: 400;
    letter-spacing: -0.14px; }

.nav {
  height: 70px;
  border-bottom: 1px solid #e2e2e2; }
  .nav__container {
    max-width: 1280px;
    margin: 0 auto;
    height: inherit;
    padding: 0 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .nav__gnb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .nav__gnb .nav__gnb-home {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s; }
      .nav__gnb .nav__gnb-home:hover {
        color: #3e87f8; }
    .nav__gnb .link_tit,
    .nav__gnb .sub_category_list,
    .nav__gnb .c_cnt {
      display: none; }
    .nav__gnb .tt_category .category_list {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
    .nav__gnb .category_list > li > .link_item {
      margin-right: 50px;
      font-weight: 700;
      font-size: 16px;
      color: #2c2828;
      transition: color 0.2s; }
      .nav__gnb .category_list > li > .link_item:hover {
        color: #3e87f8; }
  .nav__utils {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .nav__utils .btn-link {
      margin-left: 12px; }

.area_search {
  position: relative;
  width: 220px;
  height: 31px;
  margin-right: 4px; }
  .area_search:before {
    position: absolute;
    top: 9px;
    left: -28px;
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 20" xml:space="preserve"><g transform="translate(-1160.543 -67.822)"><circle cx="1168.5" cy="75.39" r="7.5" fill="none"/><circle cx="1168.5" cy="75.39" r="6.58" fill="none" stroke="%237b7b7b" stroke-width="1.8" /><path fill="none" stroke="%237b7b7b" stroke-width="1.8" d="M1172.5 80.39l6 6"/></g></svg>');
    background-repeat: no-repeat; }
  .area_search .inp_search {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 14px;
    transform: translateY(-50%);
    padding: 9px 0px;
    border-bottom: 1px solid #828282;
    background-color: #fff;
    transition: border 0.2s; }
    .area_search .inp_search:focus {
      border-color: #4b4b4b; }
    .area_search .inp_search::-webkit-input-placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px; }
    .area_search .inp_search:-moz-placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px; }
    .area_search .inp_search::-moz-placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px; }
    .area_search .inp_search:-ms-input-placeholder {
      color: #a0a0a0;
      letter-spacing: -0.14px; }
  .area_search .btn_search_del {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 31px; }
    .area_search .btn_search_del:before, .area_search .btn_search_del:after {
      position: absolute;
      display: block;
      content: "";
      width: 2px;
      height: 13px;
      background-color: #bfbfbf;
      transition: background 0.2s; }
    .area_search .btn_search_del:before {
      top: 8px;
      left: 11px;
      transform: rotate(-42deg); }
    .area_search .btn_search_del:after {
      top: 8px;
      right: 12px;
      transform: rotate(42deg); }
    .area_search .btn_search_del:hover:before, .area_search .btn_search_del:hover:after {
      background-color: #9b9b9b; }

.search_on .btn_search {
  display: none; }

.index_type_common {
  max-width: 1280px;
  margin: 0 auto; }
  @media screen and (max-width: 1360px) {
    .index_type_common {
      padding: 0 20px;
      box-sizing: border-box; } }

.title_category {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.24px;
  color: #1d1b1b; }
  @media screen and (max-width: 640px) {
    .title_category {
      font-size: 21px; } }

.logSkin-list ul {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 70px 85px; }
  @media screen and (max-width: 1360px) {
    .logSkin-list ul {
      max-width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-gap: 60px 60px; } }
  @media screen and (max-width: 1080px) {
    .logSkin-list ul {
      grid-gap: 50px; } }
  @media screen and (max-width: 640px) {
    .logSkin-list ul {
      grid-template-columns: repeat(auto-fill, 100%);
      grid-gap: 30px; } }
  .logSkin-list ul li {
    box-sizing: border-box;
    border: solid 1px #d9d9d9;
    transition: border-color 0.2s; }
    .logSkin-list ul li:hover {
      border-color: #bebebe; }
  .logSkin-list ul .logSkin-list-link:hover {
    cursor: pointer;
    border-color: #bebebe; }
    .logSkin-list ul .logSkin-list-link:hover .thumbnail_post {
      opacity: 0.9; }
    .logSkin-list ul .logSkin-list-link:hover .txt_post {
      text-decoration: underline; }
  .logSkin-list ul .thumbnail_post {
    height: 210px;
    display: block;
    background: url(images/bg_empty.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: opacity 0.2s; }
    @media screen and (max-width: 640px) {
      .logSkin-list ul .thumbnail_post {
        height: 170px; } }
  .logSkin-list ul .info_zone {
    padding: 25px;
    box-sizing: border-box; }
    @media screen and (max-width: 640px) {
      .logSkin-list ul .info_zone {
        padding: 20px; } }
  .logSkin-list ul .category_post {
    font-size: 13px;
    color: #3e87f8;
    margin-bottom: 12px; }
  .logSkin-list ul .title_post {
    display: block;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: -0.14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .logSkin-list ul .txt_post {
    margin-top: 8px;
    margin-bottom: 50px;
    font-size: 15px;
    color: #4b4b4b;
    min-height: 69px;
    line-height: 1.55;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    letter-spacing: -0.14px; }
    @media screen and (max-width: 640px) {
      .logSkin-list ul .txt_post {
        margin-top: 6px;
        margin-bottom: 30px; } }
  .logSkin-list ul .date_post {
    font-size: 13px;
    color: #969696; }
  .logSkin-list ul .logSkin-list-link {
    display: block; }

.logSkin-hot {
  margin-top: 130px; }
  .logSkin-hot ul {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    grid-gap: 40px; }
    @media screen and (max-width: 1360px) {
      .logSkin-hot ul {
        max-width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-gap: 30px; } }
    @media screen and (max-width: 640px) {
      .logSkin-hot ul {
        grid-template-columns: repeat(auto-fill, 100%); } }
    .logSkin-hot ul li .title_post {
      display: block;
      font-weight: bold;
      font-size: 18px;
      margin-top: 12px;
      margin-bottom: 1px;
      letter-spacing: -0.14px; }
    .logSkin-hot ul li .date_post {
      font-size: 13px;
      color: #969696; }
    .logSkin-hot ul li:hover .thumbnail_post {
      opacity: 0.9; }
    .logSkin-hot ul li:hover .title_post {
      text-decoration: underline; }
  .logSkin-hot .thumbnail_post {
    height: 270px;
    display: block;
    background: url(images/bg_empty.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: opacity 0.2s; }
    @media screen and (max-width: 640px) {
      .logSkin-hot .thumbnail_post {
        height: 210px; } }

.area_menu {
  display: none; }

.logSkin-showAll {
  margin-top: 110px;
  padding: 60px 0;
  text-align: center;
  background-color: #f7f7f7;
  letter-spacing: -0.2px; }
  @media screen and (max-width: 1080px) {
    .logSkin-showAll {
      margin-top: 80px; } }
  @media screen and (max-width: 640px) {
    .logSkin-showAll {
      margin-top: 60px;
      padding: 40px 0; } }
  .logSkin-showAll > a {
    font-size: 18px;
    font-weight: bold;
    padding-right: 21px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.2 20.6"><path d="M2.4 18.7l8.3-8.3-8.3-8.3" fill="none" stroke="%234b4b4b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    background-repeat: no-repeat;
    background-position: 100% 49%;
    background-size: 14px 14px; }
    @media screen and (max-width: 640px) {
      .logSkin-showAll > a {
        font-size: 16px; } }
    .logSkin-showAll > a:hover {
      text-decoration: underline; }

.another_category {
  display: none; }

#tt-body-index .logSkin-new > li:first-child {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 40px 40px;
  border: 0;
  background: #f2f2f2; }
  @media screen and (max-width: 1360px) {
    #tt-body-index .logSkin-new > li:first-child {
      grid-column-end: 1;
      padding: 20px; } }
  @media screen and (max-width: 1080px) {
    #tt-body-index .logSkin-new > li:first-child {
      padding: 20px; } }
  #tt-body-index .logSkin-new > li:first-child:hover {
    border: 0; }
  #tt-body-index .logSkin-new > li:first-child .thumbnail_post {
    width: 350px;
    height: 230px; }
    @media screen and (max-width: 1360px) {
      #tt-body-index .logSkin-new > li:first-child .thumbnail_post {
        width: calc(100% - 25px);
        height: 200px;
        margin: 0 auto; } }
  #tt-body-index .logSkin-new > li:first-child .thumbnail_zone {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    @media screen and (max-width: 1360px) {
      #tt-body-index .logSkin-new > li:first-child .thumbnail_zone {
        z-index: 1;
        width: 100%;
        position: relative;
        top: 0;
        transform: none; } }
  #tt-body-index .logSkin-new > li:first-child .info_zone {
    position: relative;
    width: 80%;
    margin-left: auto;
    padding: 54px 40px 54px 160px;
    background-color: #fff; }
    @media screen and (max-width: 1360px) {
      #tt-body-index .logSkin-new > li:first-child .info_zone {
        width: 100%;
        padding: 20px; } }
    #tt-body-index .logSkin-new > li:first-child .info_zone .category_post {
      margin-bottom: 25px; }
    #tt-body-index .logSkin-new > li:first-child .info_zone .txt_post {
      margin-top: 4px;
      margin-bottom: 45px;
      line-height: 1.45;
      letter-spacing: -0.15px;
      min-height: 42px; }

#tt-body-search .index_type_horizontal .list_horizontal_item,
#tt-body-category .index_type_horizontal .list_horizontal_item,
#tt-body-archive .index_type_horizontal .list_horizontal_item,
#tt-body-tag .index_type_horizontal .list_horizontal_item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0;
  border-bottom: solid 1px #efefef; }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .list_horizontal_item,
    #tt-body-category .index_type_horizontal .list_horizontal_item,
    #tt-body-archive .index_type_horizontal .list_horizontal_item,
    #tt-body-tag .index_type_horizontal .list_horizontal_item {
      padding: 20px 0; } }

#tt-body-search .index_type_horizontal .article_content,
#tt-body-category .index_type_horizontal .article_content,
#tt-body-archive .index_type_horizontal .article_content,
#tt-body-tag .index_type_horizontal .article_content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

#tt-body-search .index_type_horizontal .link_article,
#tt-body-category .index_type_horizontal .link_article,
#tt-body-archive .index_type_horizontal .link_article,
#tt-body-tag .index_type_horizontal .link_article {
  display: block; }
  #tt-body-search .index_type_horizontal .link_article:hover .thumbnail_post,
  #tt-body-category .index_type_horizontal .link_article:hover .thumbnail_post,
  #tt-body-archive .index_type_horizontal .link_article:hover .thumbnail_post,
  #tt-body-tag .index_type_horizontal .link_article:hover .thumbnail_post {
    opacity: 0.9; }
  #tt-body-search .index_type_horizontal .link_article:hover .txt_post,
  #tt-body-category .index_type_horizontal .link_article:hover .txt_post,
  #tt-body-archive .index_type_horizontal .link_article:hover .txt_post,
  #tt-body-tag .index_type_horizontal .link_article:hover .txt_post {
    text-decoration: underline; }

#tt-body-search .index_type_horizontal .thumbnail_zone,
#tt-body-category .index_type_horizontal .thumbnail_zone,
#tt-body-archive .index_type_horizontal .thumbnail_zone,
#tt-body-tag .index_type_horizontal .thumbnail_zone {
  flex-shrink: 0; }
  @media screen and (max-width: 1080px) {
    #tt-body-search .index_type_horizontal .thumbnail_zone,
    #tt-body-category .index_type_horizontal .thumbnail_zone,
    #tt-body-archive .index_type_horizontal .thumbnail_zone,
    #tt-body-tag .index_type_horizontal .thumbnail_zone {
      width: 30%; } }

#tt-body-search .index_type_horizontal .thumbnail_post,
#tt-body-category .index_type_horizontal .thumbnail_post,
#tt-body-archive .index_type_horizontal .thumbnail_post,
#tt-body-tag .index_type_horizontal .thumbnail_post {
  display: block;
  width: 350px;
  height: 220px;
  background: url(images/bg_empty.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: opacity 0.2s; }
  @media screen and (max-width: 1080px) {
    #tt-body-search .index_type_horizontal .thumbnail_post,
    #tt-body-category .index_type_horizontal .thumbnail_post,
    #tt-body-archive .index_type_horizontal .thumbnail_post,
    #tt-body-tag .index_type_horizontal .thumbnail_post {
      width: 100%;
      height: 200px; } }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .thumbnail_post,
    #tt-body-category .index_type_horizontal .thumbnail_post,
    #tt-body-archive .index_type_horizontal .thumbnail_post,
    #tt-body-tag .index_type_horizontal .thumbnail_post {
      height: 140px; } }

#tt-body-search .index_type_horizontal .info_zone,
#tt-body-category .index_type_horizontal .info_zone,
#tt-body-archive .index_type_horizontal .info_zone,
#tt-body-tag .index_type_horizontal .info_zone {
  padding: 20px 20px 20px 40px; }
  @media screen and (max-width: 1080px) {
    #tt-body-search .index_type_horizontal .info_zone,
    #tt-body-category .index_type_horizontal .info_zone,
    #tt-body-archive .index_type_horizontal .info_zone,
    #tt-body-tag .index_type_horizontal .info_zone {
      padding-left: 30px; } }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .info_zone,
    #tt-body-category .index_type_horizontal .info_zone,
    #tt-body-archive .index_type_horizontal .info_zone,
    #tt-body-tag .index_type_horizontal .info_zone {
      padding: 3px 0 0 15px; } }

#tt-body-search .index_type_horizontal .category,
#tt-body-category .index_type_horizontal .category,
#tt-body-archive .index_type_horizontal .category,
#tt-body-tag .index_type_horizontal .category {
  font-size: 13px;
  color: #3e87f8; }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .category,
    #tt-body-category .index_type_horizontal .category,
    #tt-body-archive .index_type_horizontal .category,
    #tt-body-tag .index_type_horizontal .category {
      font-size: 12px; } }

#tt-body-search .index_type_horizontal .title_post,
#tt-body-category .index_type_horizontal .title_post,
#tt-body-archive .index_type_horizontal .title_post,
#tt-body-tag .index_type_horizontal .title_post {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.14px; }
  @media screen and (max-width: 1080px) {
    #tt-body-search .index_type_horizontal .title_post,
    #tt-body-category .index_type_horizontal .title_post,
    #tt-body-archive .index_type_horizontal .title_post,
    #tt-body-tag .index_type_horizontal .title_post {
      margin-top: 18px;
      font-size: 18px; } }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .title_post,
    #tt-body-category .index_type_horizontal .title_post,
    #tt-body-archive .index_type_horizontal .title_post,
    #tt-body-tag .index_type_horizontal .title_post {
      font-size: 16px;
      margin-top: 8px; } }

#tt-body-search .index_type_horizontal .txt_post,
#tt-body-category .index_type_horizontal .txt_post,
#tt-body-archive .index_type_horizontal .txt_post,
#tt-body-tag .index_type_horizontal .txt_post {
  margin-bottom: 40px;
  line-height: 1.45;
  letter-spacing: -0.15px;
  min-height: 42px;
  font-size: 14px;
  color: #4b4b4b;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }
  @media screen and (max-width: 1080px) {
    #tt-body-search .index_type_horizontal .txt_post,
    #tt-body-category .index_type_horizontal .txt_post,
    #tt-body-archive .index_type_horizontal .txt_post,
    #tt-body-tag .index_type_horizontal .txt_post {
      margin-bottom: 30px; } }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .txt_post,
    #tt-body-category .index_type_horizontal .txt_post,
    #tt-body-archive .index_type_horizontal .txt_post,
    #tt-body-tag .index_type_horizontal .txt_post {
      font-size: 13px;
      margin-bottom: 20px;
      min-height: 39px; } }

#tt-body-search .index_type_horizontal .date,
#tt-body-category .index_type_horizontal .date,
#tt-body-archive .index_type_horizontal .date,
#tt-body-tag .index_type_horizontal .date {
  font-size: 13px;
  color: #969696; }
  @media screen and (max-width: 640px) {
    #tt-body-search .index_type_horizontal .date,
    #tt-body-category .index_type_horizontal .date,
    #tt-body-archive .index_type_horizontal .date,
    #tt-body-tag .index_type_horizontal .date {
      font-size: 12px; } }

.protected-list:hover .txt_post {
  text-decoration: underline; }

.protected-list .title {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -0.14px; }
  @media screen and (max-width: 1080px) {
    .protected-list .title {
      margin-top: 18px;
      font-size: 18px; } }
  @media screen and (max-width: 640px) {
    .protected-list .title {
      font-size: 16px;
      margin-top: 8px; } }

.protected-list .txt_post {
  font-style: italic; }

.protected-list .category-protected {
  color: #ff567a; }

.logSkin-list-normal {
  padding: 0; }

.area_paging {
  margin: 60px 0; }
  .area_paging .inner_paging {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .area_paging .no-more-prev,
  .area_paging .no-more-next {
    color: rgba(0, 0, 0, 0.15) !important; }
  .area_paging .link_page {
    display: inline-block;
    font-size: 24px;
    padding: 0 4px;
    color: rgba(0, 0, 0, 0.25); }
    .area_paging .link_page span:before {
      position: relative;
      top: 2px; }
    .area_paging .link_page:hover {
      color: rgba(0, 0, 0, 0.54); }
  .area_paging .paging_num {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .area_paging .link_num {
    margin: 0 8px; }
  .area_paging .link_num span {
    display: block;
    padding: 0 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #2c2828; }
    @media screen and (max-width: 640px) {
      .area_paging .link_num span {
        position: relative;
        font-size: 13px; } }
    .area_paging .link_num span.selected {
      color: #fff;
      border-radius: 50%;
      background-color: #3e87f8; }
      @media screen and (max-width: 640px) {
        .area_paging .link_num span.selected {
          color: #3e87f8;
          background-color: transparent; } }
  @media screen and (max-width: 640px) {
    .area_paging {
      margin: 40px 0; }
      .area_paging .link_page {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.75); }
      .area_paging .link_num {
        margin: 0; }
      .area_paging .link_num span {
        padding: 0 10px; }
        .area_paging .link_num span:not(.selected) {
          display: none; }
      .area_paging .link_num:last-child span {
        display: block; }
      .area_paging .link_num:last-child span:not(.selected) {
        margin-left: 14px; }
        .area_paging .link_num:last-child span:not(.selected):before {
          content: "";
          position: absolute;
          top: 4px;
          left: -8px;
          width: 1px;
          height: 11px;
          background-color: #aaa;
          transform: rotate(18deg); } }
  .area_paging .link_prev {
    margin-right: 4px; }
  .area_paging .link_next {
    margin-left: 4px; }

.footer {
  border-top: solid 1px #c4c4c4;
  margin-bottom: 30px; }
  .footer__container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    font-size: 14px; }
    @media screen and (max-width: 1360px) {
      .footer__container {
        max-width: 100%;
        padding: 50px 20px 0;
        box-sizing: border-box; } }
    @media screen and (max-width: 640px) {
      .footer__container {
        font-size: 13px;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; } }
  @media screen and (max-width: 640px) {
    .footer .footer-left {
      text-align: center; } }

.side-links {
  font-size: 1.1em;
  margin-bottom: 10px; }
  .side-links__list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media screen and (max-width: 640px) {
      .side-links__list {
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        margin-bottom: 10px; } }
  .side-links__item {
    position: relative;
    margin-right: 26px; }
    .side-links__item:after {
      position: absolute;
      top: 2px;
      right: -14px;
      display: block;
      content: "";
      width: 2px;
      height: 15px;
      background-color: #b6b6b6; }
    .side-links__item a {
      font-size: 15px;
      font-weight: 700;
      color: #4a4a4a; }
      .side-links__item a:hover {
        text-decoration: underline; }
    .side-links__item:last-child {
      margin-right: 0; }
      .side-links__item:last-child:after {
        display: none; }

.admin {
  display: inline-block;
  margin-right: 6px; }
  .admin a {
    font-size: 13px;
    color: #4b4b4b;
    color: #676767;
    border: 1px solid #c4c4c4;
    padding: 3px 7px;
    border-radius: 2px;
    transition: all 0.2s; }
    @media screen and (max-width: 640px) {
      .admin a {
        font-size: 12px;
        padding: 5px 10px; } }
    .admin a:hover {
      color: #2c2828;
      border-color: #676767; }
  .admin .write {
    color: #3e87f8;
    border-color: #3e87f8; }
    .admin .write:hover {
      border-color: #3e87f8;
      background-color: #3e87f8;
      color: #fff; }

.visit-counter {
  font-size: 1em;
  color: #5c5c5c;
  text-align: right; }
  @media screen and (max-width: 640px) {
    .visit-counter {
      text-align: center;
      margin-top: 20px; } }
  .visit-counter__list {
    display: inline-block; }
    .visit-counter__list:first-child {
      margin-right: 8px; }
      .visit-counter__list:first-child .visit-counter__num {
        color: #3e87f8; }
  .visit-counter__num {
    margin-left: 2px;
    font-weight: 700; }

.copyright {
  text-align: right;
  margin-top: 2px;
  color: #919191;
  font-size: 1em;
  letter-spacing: -0.14px; }
  @media screen and (max-width: 640px) {
    .copyright {
      text-align: center; } }

.logSkin-copy {
  text-align: center;
  margin-top: 30px;
  font-size: 11px;
  color: #b5b5b5; }
  @media screen and (max-width: 640px) {
    .logSkin-copy {
      transform: scale(0.9); } }

.box_tag_trail {
  width: 100%;
  box-sizing: border-box; }
  .box_tag_trail .title_category {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto; }
  .box_tag_trail .tag_area {
    background-color: #fafafa; }
  .box_tag_trail .tag_cont {
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 20px; }
  .box_tag_trail .tag_cloud {
    padding: 4px 22px;
    border-radius: 88px;
    border: solid 1px #c4c4c4;
    background-color: #ffffff;
    font-size: 17px;
    line-height: 2.18;
    letter-spacing: 0.17px;
    text-align: left;
    color: #7b7b7b;
    margin-right: 16px; }
